<mat-toolbar
  class="mat-elevation-z5 mg-btn-40 d-flex d-flex-justify-space-between"
  color="primary">
  <button
    *ngIf="(getState$ | async)?.isAuthenticated"
    (click)="sideNav.toggle()"
    mat-icon-button>
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <h1 routerLink="/">Videos tarzán</h1>

  <div
    id="container-header"
    class="d-flex d-flex-align-items-center">
    <a
      [routerLink]="'/'+routeAdmin"
      *ngIf="(getState$ | async)?.user?.isAdmin"
      mat-button>
      <mat-icon>store_mall_directory</mat-icon>
      Administración
    </a>
    <a
      [routerLink]="routeLogin"
      *ngIf="!(getState$ | async)?.isAuthenticated"
      mat-button>
      Iniciar Sesión
    </a>
    <a
      (click)="signOut()"
      *ngIf="(getState$ | async)?.isAuthenticated"
      mat-icon-button>
      <mat-icon>input</mat-icon>
    </a>
  </div>

</mat-toolbar>
